.botaoPreto,
.botaoBranco,
.botaoTransparente,
.botaoAzul {
  padding: 0.875em 2.5em; /*14px 40px*/
}
.botaoPreto {
  border: none;
  background-color: var(--cor-preto);
}
.botaoPreto a{
    color: var(--cor-branco);
}
.botaoPreto:hover {
  background-color: var(--cor-cinza);
}
.botaoTransparente {
  background-color: transparent;
  border: 1px solid var(--cor-preto);
}
.botaoTransparente a{
    color: var(--cor-preto);
}
.botaoBranco {
  border: none;
  background-color: var(--cor-branco);
}
.botaoBranco a {
  color: var(--cor-azul);
}
.botaoAzul {
  color: var(--cor-branco);
  border: none;
  background-color: var(--cor-azul);
}
.botaoAzul a{
    color: var(--cor-branco);
}