.topicos {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}
.card {
  gap: 1.5em;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 35vh;
  padding: 2em;
  border-radius: 1.5em;
  border: 1px solid var(--cor-preto);
  position: relative;
  transition: all 0.3s ease;
}
.card i {
  font-size: 2em;
}
.card p {
  font-weight: 600;
  font-size: 1.2em;
}
.card:hover {
  top: -10px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}
@media (max-width: 1220px) {
  .topicos {
    width: 90%;
    gap: 2em;
  }
  .card {
    width: 30%;
    height: 32vh;
    padding: 1.8em;
  }
  .card i {
    font-size: 1.8em;
  }
  .card p {
    font-size: 1.1em;
  }
}
@media (max-width: 950px) {
  .topicos {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5em;
  }
  .card {
    width: 40%;
    height: auto;
    padding: 2em 1.5em;
  }
  .card i {
    font-size: 1.6em;
  }
  .card p {
    font-size: 1.05em;
  }
}
@media (max-width: 480px) {
  .topicos {
    flex-direction: column;
    width: 80%;
    gap: 1.5em;
  }
  .card {
    width: 100%;
    height: auto;
    padding: 1.5em;
  }
  .card i {
    font-size: 1.4em;
  }
  .card p {
    font-size: 1em;
  }
}