header{
    width: 90%;
    margin: 2.875em auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menuBar{
    font-size: 1.8em;
    color: var(--cor-preto);
    display: none;
    cursor: pointer;
    transition: transform 0.3s;
    position: relative;
    z-index: 101;
    transition: all 0.3s ease;
}
.menuBar.active{
    transform: rotate(90deg);
}
header .logo{
    display: flex;
    align-items: center;
    font-weight: 700;
    gap: 4%;
    color: var(--cor-azul);
}
header .logo img{
    width: 5.25em;
}
header .titulo{
    font-size: 2.25em;
}
header ul{
    font-weight: 500;
    gap: 5.625em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
header li{
    list-style: none;
    font-size: 1.2em;
}
header li a{
    color: var(--cor-preto);
}
header li a:hover,.menuMobile li a:hover{
    transition: .2s;
    color: var(--cor-azul);
}
/* Menu Mobile */
.menuMobile{
list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--cor-preto);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    transform: translateY(-100%);
    transition: 0.4s ease;
    z-index: 99;
}
.menuMobile.show{
    transform: translateY(0);
}
.menuMobile a{
    font-size: 1.2em;
    color: var(--cor-branco);
}
.menuMobile.show + header .menuBar,
.menuMobile.show ~ header .menuBar{
  position: absolute;
  top: 2.3em;
  right: 5%;
  color: var(--cor-branco);
  z-index: 102;
}
@media (max-width:1220px) {
    header ul{
        gap: 2.5em;
    }
}
@media (max-width: 950px) {
    .menuBar{
        display: inline;
    }
    header ul{
        display: none;
    }
}