.kit{
    width: 80%;
    margin: 8em auto;
}
.boxKit{
    gap: 5%;
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
}
.imagem{
    width: 50%;
}
.imagem img{
    width: 100%;
    border-radius: 0 40% 0  0 ;
}
.informacoes{
    width: 50%;
}
.informacoes ul{
    margin-top: 1em;
    margin-bottom: 2em;
}
.informacoes ul li{
    margin-left: 2em;
}
@media (max-width: 950px) {
    .boxKit{
        align-items: center;
        flex-direction: column;
    }
    .informacoes{
        width: 100%;
    }
    .imagem{
        width: 80%;
    }
}