@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
:root {
  /* Cores */
  --cor-branco: #F4F1F0;
  --cor-azul: #0490CC;
  --cor-preto: #222222;
  --cor-cinza: #343434;

  /* Fonte */
  --font-instrument-sans: "Instrument Sans", sans-serif;
}
*{
  margin: 0;
  padding: 0;
  border-radius: 0;
}
body{
  font-family: var(--font-instrument-sans);
  font-size: 16px;
  line-height: 1.5;
}
h1{
  font-size: 4em;
}
h2{
  font-size: 3em;
}
a{
  text-decoration: none;
}
p{
  font-size: 1.6875em;
}
button{
  border-radius: 0.625em; /*10px*/
  cursor: pointer;
  font-size: 1.5em; /*24px*/
  font-weight: 600;
  font-family: var(--font-instrument-sans);
}
.texto-azul{
  color: var(--cor-azul);
}